/* Created by http://freehtml5templates.com */
/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #04376c url(images/wavy.jpg) top no-repeat;
font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color: #666;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 5px;
margin-bottom: 5px;
}

nav {
width: 940px;
height: 50px;
margin: 0 auto;
background: #4188d2;
	/* curved border radius */
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

header {
width: 940px;
margin: 0 auto;
}

#main {
width: 920px;
margin: 0 auto;
padding-top: 30px;
background: #FFF;
overflow: hidden;
border: 10px #4188d2 solid;
}

#content {
float: left;
width: 600px;
margin-left: 20px;
}

#sidebar {
float: right;
width: 280px;
}

footer {
width: 940px;
background: #4188d2;
color: #fff;
margin: 0 auto;
clear: both;
	/* curved border radius */
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #333;
}

a:link, a:visited {
color:#0A50C0;
}

a:hover, a:active {
color: #333;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* nav */

nav .menu {
font-size: 16px;
font-weight: bold;
margin-top: 30px;
}

nav .menu ul {
margin: 0;
padding: 17px 0 0 5px;
list-style: none;
line-height: normal;
}

nav .menu li {
display: block;
float: left;
}

nav .menu a {
display: block;
float: left;
margin-right: 5px;
padding-right: 15px;
text-decoration: none;
color: #FFF;
}

nav .menu a:hover {
text-decoration: underline;
}

/** HEADER */

header h1, header h2 {
margin: 0;
line-height: normal;
}

header h1 { 	
float: left;
padding-top: 10px;
font-size: 60px;
font-style: italic;
}

header h1 a:link, header h1 a:visited {
text-decoration: none;
color: #689cd2;
}

header h1 a:hover { 
text-decoration: underline; 
}

header h2 {
padding: 10px 0 0 10px;
font-style: italic;
font-size: 14px;
color: #FFF;
}

/** ARTICLES **/
article img {
border: none;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

#content p, ul, ol, hr {
margin-bottom: 24px;
}

#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}

#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

aside .standard {
 margin-left: 20px;
}

aside .standard h3 {
font-size: 14px;
}

aside .standard ul {
list-style-image: url(images/arrow.gif);
color: #ffcd00;
margin: -15px 0 20px 20px;
}

aside .standard ul li {
line-height: 1.2em;
}

aside .standard li a {
font-size: 12px;
text-decoration: none;
}

aside .standard li a:hover {
text-decoration: underline;
}

#footer-area {
background: #03327d;
color: #FFF;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

footer p {
text-align: right;
font-size: 11px;
padding: 5px 20px 5px 0;
}

footer a {
color: #999;
}

footer a:hover {
color: #FFF;
text-decoration: none;
}

footer a:link, footer a:visited {
color: #FFF;
}
